body{
  background-color: #212121 !important;
}
 .micPage {
    height: 100%;
    width: 20rem;
    background-color: rgb(0, 139, 12);
    border-radius: 10px; /* 10px border radius for rounded corners */

  }

  .micContainerRow {
    position: absolute;
    overflow-x: scroll;
    height: 70%;
}
.deleteButton {
  float:right
}

.mic-group > .row {
  overflow-x: auto;
  white-space: nowrap;

}
.mic-group > .row > .col-xs {
  display: inline-block;
  float: none;
  width: max-content
}

.settingsButton {
  float:right
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
      0,
      0,
      0,
      0.4
  );
  display: none;
  border-radius: 10px; /* 10px border radius for rounded corners */

}
.popup-content {
  background-color: rgb(95, 95, 95);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #c3c3c3;
  width: 70%;
  font-weight: bolder;
  border-radius: 10px; /* 10px border radius for rounded corners */

}
.popup-content button {
  display: block;
  margin: 0 auto;
}
.show {
  display: block;
}

.badge-success {
  background-color: green;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}
.badge-fail {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #02ab0d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #02ab0d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[title]:after {
  -webkit-transition: opacity 0.5s ease-in-out; /* 👈 Change the time to meet your requirements. */
}

.background-image {
  position: fixed;
  top: -250%;
  left: -250%;
  width: 500%;
  height: 500%;
  background-image: url('resources/image/goddamnlogo2.png');
  background-size: 10rem;
  background-repeat: repeat;
  background-color: rgba(1,1,1,.5);
  transform: rotate(45deg);
  z-index: -1; /* Bring the background behind other content */
  animation: moveBackground 60s linear infinite; /* Adjust duration (20s) as needed */
  color:rgba(0, 0, 0, 0.5);
}
/* Black overlay */
.background-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

@keyframes moveBackground {
  from {
      background-position: 0rem 0rem; /* Starting position */
  }
  to {
      background-position: 0rem -100rem; /* Ending position (can adjust for direction) */
  }
}

